<th:block th:fragment="base">
<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/assets/img/ugur/favicon.ico}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/assets/img/ugur/favicon.ico}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/img/ugur/favicon.ico}">
    <link rel="manifest" th:href="@{/assets/img/favicon/site.webmanifest}">
    <link rel="mask-icon" th:href="@{/assets/img/favicon/safari-pinned-tab.svg}" color="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <link type="text/css" th:href="@{/css/picklist.min.css}" rel="stylesheet">
    <!-- Sweet Alert -->
    <link type="text/css" th:href="@{/vendor/sweetalert2/dist/sweetalert2.min.css}" rel="stylesheet">
    <!-- Notyf -->
    <link type="text/css" th:href="@{/vendor/notyf/notyf.min.css}" rel="stylesheet">
    <!--  Map  -->
    <link rel="stylesheet" th:href="@{/leaflet/leaflet.css}">
    <link rel="stylesheet" th:href="@{/geoman/leaflet-geoman.css}">
    <!-- Volt CSS -->
    <link type="text/css" th:href="@{/css/volt.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/css/custom.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/css/dataTable.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/css/dropzone.min.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/css/mydrop.css}" rel="stylesheet">


    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
</head>
<body>
<div th:replace="~{includes/sidebar :: sidebar}"></div>


<main class="content">
<th:block th:insert="~{includes/navbar :: navbar}"></th:block>
<th:block th:switch="${page}">
    <th:block th:case="main" th:insert="~{pages/main :: main}"></th:block>
    <th:block th:case="user-index" th:insert="~{pages/users/index :: index}"></th:block>
    <th:block th:case="user-create" th:insert="~{pages/users/create :: create}"></th:block>
    <th:block th:case="user-edit" th:insert="~{pages/users/edit :: edit}"></th:block>
    <th:block th:case="city-index" th:insert="~{pages/cities/index :: index}"></th:block>
    <th:block th:case="city-create" th:insert="~{pages/cities/create :: create}"></th:block>
    <th:block th:case="stop-index" th:insert="~{pages/stops/index :: index}"></th:block>
    <th:block th:case="stop-create" th:insert="~{pages/stops/create :: create}"></th:block>
    <th:block th:case="stop-edit" th:insert="~{pages/stops/edit :: edit}"></th:block>
    <th:block th:case="route-index" th:insert="~{pages/routes/index :: index}"></th:block>
    <th:block th:case="route-create" th:insert="~{pages/routes/create :: create}"></th:block>
    <th:block th:case="route-edit" th:insert="~{pages/routes/edit :: edit}"></th:block>
    <th:block th:case="place-main-index" th:insert="~{pages/places/index :: index}"></th:block>
    <th:block th:case="place-main-create" th:insert="~{pages/places/create :: create}"></th:block>
    <th:block th:case="place-main-edit" th:insert="~{pages/places/edit :: edit}"></th:block>
    <th:block th:case="place-category-index" th:insert="~{pages/place_categories/index :: index}"></th:block>
    <th:block th:case="place-category-create" th:insert="~{pages/place_categories/create :: create}"></th:block>
    <th:block th:case="place-category-edit" th:insert="~{pages/place_categories/edit :: edit}"></th:block>
    <th:block th:case="place-sub-category-index" th:insert="~{pages/place_sub_categories/index :: index}"></th:block>
    <th:block th:case="place-sub-category-create" th:insert="~{pages/place_sub_categories/create :: create}"></th:block>
    <th:block th:case="place-sub-category-edit" th:insert="~{pages/place_sub_categories/edit :: edit}"></th:block>
</th:block>

<div th:replace="~{includes/footer :: footer}"></div>
</main>
</body>
</html>

    <script th:src="@{/js/axios.min.js}"></script>
    <!-- Core -->
    <script th:src="@{'/vendor/@popperjs/core/dist/umd/popper.min.js'}"></script>
    <script th:src="@{/vendor/bootstrap/dist/js/bootstrap.min.js}"></script>
    <!-- Vendor JS -->
    <script th:src="@{/vendor/onscreen/dist/on-screen.umd.min.js}"></script>
    <!-- Slider -->
    <script th:src="@{/vendor/nouislider/dist/nouislider.min.js}"></script>
    <!-- Smooth scroll -->
    <script th:src="@{/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js}"></script>
    <!-- Datepicker -->
    <script th:src="@{/vendor/vanillajs-datepicker/dist/js/datepicker.min.js}"></script>
    <!-- Sweet Alerts 2 -->
    <script th:src="@{/vendor/sweetalert2/dist/sweetalert2.all.min.js}"></script>
    <!-- Moment JS -->
    <script th:src="@{/js/moment.min.js}"></script>
    <!-- Vanilla JS Datepicker -->
    <script th:src="@{/vendor/vanillajs-datepicker/dist/js/datepicker.min.js}"></script>
    <!-- Notyf -->
    <script th:src="@{/vendor/notyf/notyf.min.js}"></script>
    <!-- Simplebar -->
    <script th:src="@{/vendor/simplebar/dist/simplebar.min.js}"></script>
    <!-- Github buttons -->
    <script th:src="@{/js/button.min.js}"></script>
    <!-- Volt JS -->
    <script th:src="@{/assets/js/volt.js}"></script>
    <!-- Map   -->
    <script th:src="@{/leaflet/leaflet.js}"></script>
    <script th:src="@{/geoman/leaflet-geoman.min.js}"></script>

    <script th:src="@{/js/picklist.js}"></script>
    <script th:src="@{/js/map.js}"></script>
    <script th:src="@{/js/myfunction.js}"></script>
    <script th:src="@{/js/searchTable.js}"></script>






</th:block>