<th:block th:fragment="edit">
    <div class="py-4">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item">
                    <a href="/">
                        <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="/routes">Routes</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Edit
                </li>
            </ol>
        </nav>
        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h4">Маршрут</h1>
            </div>
        </div>
    </div>
    <div class="card card-body border-0 shadow mb-4">
        <h2 class="h5 mb-4"> Изменить маршрут</h2>
        <nav>
            <div class="nav nav-tabs mb-4" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-data-tab" data-bs-toggle="tab" href="#nav-data-route" role="tab" aria-controls="nav-data-route" aria-selected="true">Данные</a>
                <a class="nav-item nav-link" id="nav-front-tab" data-bs-toggle="tab" href="#nav-front-route" role="tab" aria-controls="nav-front-route" aria-selected="false">Маршрут Вперед</a>
                <a class="nav-item nav-link" id="nav-back-tab" data-bs-toggle="tab" href="#nav-back-route" role="tab" aria-controls="nav-back-route" aria-selected="false">Маршрут Обратно</a>
            </div>
        </nav>
        <form action="/routes" method="PATCH" th:onject="${route}">
            <!--            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-data-route" role="tabpanel" aria-labelledby="nav-data-route-tab">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="name">Имя</label>
                            <input class="form-control" id="name" name="name" th:value="${route.getName()}" type="text" placeholder="Введите название маршрута" required="">
                            <div th:if="${nameError}" style="color: red">
                                Название маршрута должен состоять от 3 до 70 символов.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="number">Номер маршрута</label>
                            <input class="form-control"
                                   id="number" name="number"
                                   th:value="${route.getNumber()}"
                                   type="text" placeholder="Введите номер маршрута" required="">
                            <div th:if="${numberError}" style="color: red">
                                Заполните номер маршрута.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="role">Страна</label>
                            <select class="form-select mb-0" id="role" name="city" aria-label="Role select example">
                                <option th:each="city : ${cities}"
                                        th:selected="${city.getId() == route.getCity().getId()}"
                                        th:value="${city.getId()}"
                                        th:text="${city.getName()}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="start_stops">Остановки начального маршрута</label>
                            <select name="startStops" id="start_stops" class="form-select mb-0" multiple>
                                <option
                                        th:each="stop : ${stops}"
                                        th:value="${stop.getId()}"
                                        th:selected="${route.getStartStops().contains(stop)}"
                                        th:text="${stop.getName()}"></option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="end_stops">Остановки обратного маршрута</label>
                            <select name="endStops" id="end_stops" class="form-select mb-0" multiple>
                                <option th:each="stop : ${stops}"
                                        th:value="${stop.getId()}"
                                        th:selected="${route.getEndStops().contains(stop)}"
                                        th:text="${stop.getName()}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-front-route" role="tabpanel" aria-labelledby="nav-front-route-tab">
                    <div id="map-route-front"></div>
                </div>
                <div class="tab-pane fade" id="nav-back-route" role="tabpanel" aria-labelledby="nav-back-route-tab">
                    <div id="map-route-back"></div>
                </div>
            </div>

            <input type="hidden" id="selectedOptionsOrderStart" name="selectedStart" />
            <input type="hidden" id="selectedOptionsOrderEnd" name="selectedEnd" />
            <input type="hidden" id="frontCoordinates" name="frontCoordinates" />
            <div class="mt-3">
                <button class="btn btn-lg btn-info mt-2 animate-up-2" type="submit">Создать</button>
            </div>
        </form>
    </div>

    <script th:inline="javascript">
        let coordinatesEdit = /*[[${route.getFrontLine().getCoordinates()}]]*/ '';
    </script>
</th:block>