
.svg{

}
.svg:hover svg {
    fill: black;
}

#map-stop{
    height: 500px;
}

#map-place{
    height: 500px;
}


#map-route-front{
    height: 800px;
}

#map-route-back{
    height: 800px;
}

.mob_phone_place{
    margin-bottom: 10px;
}

.p_text{
    font-size: 0.875rem;
}


.image-container {
    display: grid;
}


.image-item {
    width: calc(50% - 8px);
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

tbody tr td {
    width: 100px;
}

#datatable {
    width: 1800px;
}

#datatable th td {
    width: 180px;
}