

.dropzon {
    width: 100%;
    min-height: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#drop {
    width: 100%;
    min-height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.text {
    font-size: 24px;
    font-weight: bold;
}

 .plus {
     width: 100%;
    display: block;
    font-size: 70px;
    line-height: 110px;
    font-weight: bold;
    color: rgb(0, 135, 247);
}

.dz-preview {
    margin-right: 30px;
}

.dz-success-mark {
    display: none;
}

.dz-error-mark {
    display: none;
}

.dz-remove {
    color: red;
}

.dz-image {
    border-radius: 20px;
}

.dz-started .text {
    display: none;
}