<th:blokc th:fragment="index">

    <div class="py-4">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item">
                    <a href="/">
                        <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Stops</li>
            </ol>
        </nav>
        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h4">Остановки</h1>
            </div>
            <div>
                <a href="/stops/create" class="btn btn-outline-info d-inline-flex align-items-center">
                    Добавить
                </a>
            </div>
        </div>
    </div>

    <div class="card border-0 shadow mb-4">
        <div class="card-body">
            <div class="table-responsive py-4">
                <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                    <div class="dataTable-top">
                        <div class="dataTable-dropdown">
                            <label>
                                <select class="dataTable-selector">
                                    <option value="5">5</option>
                                    <option value="10" selected="">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                </select> entries per page
                            </label>
                        </div>
                        <div class="dataTable-search">
                            <input class="dataTable-input" placeholder="Search..." type="text">
                        </div>
                    </div>
                    <div class="dataTable-container">
                        <table class="table table-flush dataTable-table" id="datatable">
                            <thead class="thead-light">
                                 <tr>
                                    <th data-sortable="" style="width: 18.8589%;">
                                        <a href="#" class="dataTable-sorter">Name</a>
                                    </th>
                                    <th data-sortable="" style="width: 28.5786%;">
                                        <a href="#" class="dataTable-sorter">Position</a>
                                    </th>
                                    <th data-sortable="" style="width: 15.8125%;">
                                        <a href="#" class="dataTable-sorter">Office</a>
                                    </th>
                                    <th data-sortable="" style="width: 8.70413%;">
                                        <a href="#" class="dataTable-sorter">Age</a>
                                    </th>
                                    <th data-sortable="" style="width: 15.9576%;">
                                        <a href="#" class="dataTable-sorter">Start date</a>
                                    </th>
                                     <th data-sortable="" style="width: 12.0407%;">
                                        <a href="#" class="dataTable-sorter">Salary</a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="dataTable-bottom">
                        <div class="dataTable-info">Showing 1 to 10 of 57 entries</div>
                        <nav class="dataTable-pagination">
                            <ul class="dataTable-pagination-list">
                                <li class="pager">
                                    <a href="#" data-page="1">‹</a>
                                </li>
                                <li class="active">
                                    <a href="#" data-page="1">1</a>
                                </li>
                                <li class="">
                                    <a href="#" data-page="2">2</a>
                                </li>
                                <li class="">
                                    <a href="#" data-page="3">3</a>
                                </li>
                                <li class="">
                                    <a href="#" data-page="4">4</a>
                                </li>
                                <li class="">
                                    <a href="#" data-page="5">5</a>
                                </li>
                                <li class="">
                                    <a href="#" data-page="6">6</a>
                                </li>
                                <li class="pager">
                                    <a href="#" data-page="2">›</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:blokc>